/* line 3, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 8, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, ../scss/style.scss */
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

/* line 21, ../scss/style.scss */
header {
  width: 100%;
  height: 90px;
  font-size: 8pt;
  margin-bottom: 0.5%;
}
/* line 28, ../scss/style.scss */
header ul.list-inline li {
  float: left;
  list-style: none;
  margin: 0 5px;
}
/* line 32, ../scss/style.scss */
header ul.list-inline li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
/* line 40, ../scss/style.scss */
header .logo img {
  width: 225px;
  height: 85px;
}
/* line 45, ../scss/style.scss */
header .login {
  padding-left: 130px;
  margin-top: 30px;
}
/* line 50, ../scss/style.scss */
header .lang {
  padding-left: 60px;
  margin-top: 30px;
}
/* line 53, ../scss/style.scss */
header .lang img {
  width: 30px;
  height: 20px;
}
/* line 59, ../scss/style.scss */
header .rec {
  background-color: #eb2645;
  height: 84px;
}
/* line 62, ../scss/style.scss */
header .rec .count {
  color: #ffffff;
}
/* line 65, ../scss/style.scss */
header .rec img {
  width: 45px;
  height: 45px;
  margin: 20px 0 0 20px;
}

/* line 73, ../scss/style.scss */
.banner {
  margin-bottom: 0.5%;
  width: 100%;
  height: 250px;
  background-color: #fde626;
  background-image: url("img/banner.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 83, ../scss/style.scss */
.banner h1 {
  font-weight: bold;
  font-size: 26pt;
  color: #000;
  text-align: center;
}

/* line 91, ../scss/style.scss */
nav {
  margin-top: 1%;
}
/* line 93, ../scss/style.scss */
nav .navigation {
  background: #182d47;
  height: 70px;
  padding: 9px;
}
/* line 100, ../scss/style.scss */
nav .navigation ul.list-inline li {
  float: left;
  list-style: none;
  vertical-align: middle;
  horiz-align: center;
}
/* line 106, ../scss/style.scss */
nav .navigation ul.list-inline li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
}
/* line 114, ../scss/style.scss */
nav .navigation ul.list-inline li a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #182d47;
}
/* line 124, ../scss/style.scss */
nav .navigation .inputsearch:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 126, ../scss/style.scss */
nav .navigation .search input {
  width: 270px;
  height: 52px;
}
/* line 130, ../scss/style.scss */
nav .navigation .search input .inputsearch:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 136, ../scss/style.scss */
nav .navigation .search .inputsearch:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 141, ../scss/style.scss */
main {
  width: 100%;
}
/* line 144, ../scss/style.scss */
main .navig {
  height: 100px;
}
/* line 146, ../scss/style.scss */
main .navig h2 a {
  text-decoration: none;
  color: #000;
}
/* line 152, ../scss/style.scss */
main .navig .row {
  padding: 20px 20px 0px 0px;
}
/* line 157, ../scss/style.scss */
main .main_content {
  margin-bottom: 7%;
}
/* line 160, ../scss/style.scss */
main .main_content .sidebar {
  padding-left: 5%;
  background: #eb2645;
  width: 305px;
  height: 470px;
  padding-top: 10%;
}
/* line 167, ../scss/style.scss */
main .main_content .sidebar span {
  color: #fff;
  padding: 4% 4%;
}
/* line 172, ../scss/style.scss */
main .main_content .sidebar aside {
  padding: 4%;
  color: #fff;
  font-size: 11pt;
}
/* line 178, ../scss/style.scss */
main .main_content .sidebar aside:before {
  margin-right: 4%;
  content: "";
  display: block;
  background: url("../img/down.png") no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  float: left;
}
/* line 189, ../scss/style.scss */
main .main_content .sidebar img.displayed {
  margin-top: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 170px;
}
/* line 199, ../scss/style.scss */
main .main_content .slide {
  margin-left: 8%;
  background-color: #2b2e33;
  height: 470px;
}
/* line 206, ../scss/style.scss */
main .products {
  padding-left: 2%;
  padding-top: 6%;
  padding-bottom: 4%;
  background-color: #f5f6f7;
}
/* line 212, ../scss/style.scss */
main .products h2 {
  padding-bottom: 2%;
}
/* line 216, ../scss/style.scss */
main .products .pro {
  background-color: #fff;
  margin-left: 2%;
  padding: 40px 40px 25px 25px;
  width: 250px;
  height: 370px;
}
/* line 223, ../scss/style.scss */
main .products .pro button {
  background-color: #eb2645;
  color: #fff;
}
/* line 228, ../scss/style.scss */
main .products .pro h2 {
  margin-top: 20%;
  font-weight: bold;
}
/* line 233, ../scss/style.scss */
main .products .pro h3 {
  margin-top: 10%;
  color: gray;
}
/* line 238, ../scss/style.scss */
main .products .pro h3:before {
  content: "";
  display: block;
  background: url("../img/point.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  float: left;
}
/* line 252, ../scss/style.scss */
main .products .pro span {
  font-weight: bold;
}
/* line 256, ../scss/style.scss */
main .products .pro img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 110px;
}
/* line 264, ../scss/style.scss */
main .products .pro button.displayed {
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;
}

/* line 277, ../scss/style.scss */
.prefooter .faq {
  background-color: #eb2645;
  color: #fff;
  height: 80px;
  padding: 35px 35px 0px 215px;
}
/* line 284, ../scss/style.scss */
.prefooter .faq ul.list-inline li {
  float: left;
  list-style: none;
  margin: 0 30px;
}
/* line 289, ../scss/style.scss */
.prefooter .faq ul.list-inline li a {
  color: #fff;
}

/* line 300, ../scss/style.scss */
footer hr {
  background-color: #eb2645;
  border: none;
  height: 2px;
  margin-top: 2%;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 311, ../scss/style.scss */
footer h2 {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 316, ../scss/style.scss */
footer h3 {
  font-weight: bold;
}
/* line 320, ../scss/style.scss */
footer h4 {
  padding: 3% 0 3% 0;
  font-size: 9pt;
  color: #fff;
  text-decoration: none;
}
/* line 325, ../scss/style.scss */
footer h4 a {
  color: grey;
  text-decoration: none;
}
/* line 331, ../scss/style.scss */
footer .info {
  padding: 4% 3% 0 3%;
  background-color: #182d47;
  color: #fff;
}
/* line 336, ../scss/style.scss */
footer .info input {
  width: 290px;
  height: 50px;
}
/* line 341, ../scss/style.scss */
footer .info .about {
  padding-bottom: 4%;
  text-align: center;
}
/* line 346, ../scss/style.scss */
footer .info .cont {
  padding-left: 13%;
}
/* line 350, ../scss/style.scss */
footer .info .social {
  padding-top: 3%;
}
/* line 355, ../scss/style.scss */
footer .info ul.list-inline li {
  float: left;
  list-style: none;
  margin: 0 5px;
}
/* line 359, ../scss/style.scss */
footer .info ul.list-inline li a {
  color: #fff;
}
/* line 362, ../scss/style.scss */
footer .info ul.list-inline li img {
  width: 30px;
  height: 30px;
}
/* line 370, ../scss/style.scss */
footer .copy {
  padding: 4% 4% 2% 4%;
  background-color: #182d47;
  color: lightgrey;
}
/* line 373, ../scss/style.scss */
footer .copy hr {
  border: none;
  background-color: grey;
  height: 2px;
  margin-bottom: 2%;
  width: auto;
}
/* line 384, ../scss/style.scss */
footer .copy ul.list-inline li {
  float: left;
  list-style: none;
  margin: 0 5px;
}
/* line 388, ../scss/style.scss */
footer .copy ul.list-inline li a {
  color: lightgrey;
}

/*# sourceMappingURL=style.css.map */
