html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0 !important; }

@font-face {
  font-family: Proxy;
  src: url("../fonts/proxima-nova-bold.otf"); }
header {
  width: 100%;
  height: 80px;
  font-size: 8pt; }
  header .col-lg-1, header .col-lg-2 {
    padding: 0; }
  header .logo img {
    height: 75px;
    padding-left: 9px;
    padding-top: 8px; }
  header .login {
    margin-top: 35px;
    padding-left: 10px; }
    header .login .col-lg-6 {
      padding: 0; }
    header .login ul {
      list-style: none; }
      header .login ul .colon a {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        font-family: Proxy; }
      header .login ul .account:before {
        content: "";
        display: block;
        background: url("../img/acc.png") no-repeat;
        background-size: cover;
        width: 10px;
        height: 12px;
        float: left;
        margin-right: 2%; }
      header .login ul .like:before {
        content: "";
        display: block;
        background: url("../img/like.png") no-repeat;
        background-size: cover;
        width: 12px;
        height: 10px;
        float: left;
        margin-right: 2%;
        margin-top: 3%; }
  header .lang {
    margin-top: 33px; }
    header .lang .row {
      padding-left: 30px; }
  header .lang img {
    padding: 0;
    margin-left: 5px;
    width: 22px;
    height: 14px; }
  header .show {
    z-index: 99999999;
    background-color: white;
    position: absolute;
    top: 80px;
    height: 190px;
    width: 280px;
    right: 0px; }
    header .show .footrec {
      background-color: white;
      padding: 5%; }
    header .show .footrec button {
      background-color: #182d47;
      color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 162px;
      height: 38px;
      border: none; }
    header .show .toprec {
      padding: 5%;
      background-color: #182d47;
      color: white; }
    header .show .toprec button {
      background-color: #eb2645;
      color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 162px;
      height: 38px;
      border: none;
      margin-top: 10%; }
    header .show .img {
      width: 20px;
      height: 20px; }
    header .show .vendari {
      padding: 5%;
      background-color: white;
      color: black; }
      header .show .vendari .pm {
        width: 20px;
        height: 20px;
        border: none;
        background-color: white;
        color: black; }
      header .show .vendari .dgt {
        width: 20px;
        height: 20px; }
      header .show .vendari .venddttl {
        color: #eb2645; }
  header .rec .show {
    display: none; }
  header .rec:hover .show {
    display: block; }
  header .rec {
    display: table;
    padding: 0;
    background-color: #eb2645;
    height: 80px;
    color: #ffffff; }
    header .rec a {
      font-family: Proxy;
      display: block;
      position: relative;
      height: 100%; }
      header .rec a label {
        color: white;
        font-size: 8pt;
        position: absolute;
        top: 20%;
        right: 20%; }
      header .rec a img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
  header .menuMob {
    display: none;
    padding: 0;
    height: 80px; }
  header .menuPad {
    display: none; }
  header .likePad {
    display: none;
    border-left: 1px solid silver; }
  header .searchPad {
    display: none;
    border-left: 1px solid silver; }

.banner {
  width: 100%;
  height: 250px;
  background-color: #fde626;
  background-image: url("../img/banner.png");
  background-position: top;
  background-repeat: no-repeat;
  float: left;
  border: 10px solid white; }

.banner h1 {
  margin: 0;
  font-family: Proxy;
  padding-top: 160px;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 26pt;
  color: #000; }

nav .navigation {
  background: #182d47;
  height: 66px;
  padding: 5px;
  list-style: none;
  padding-left: 50px; }
  nav .navigation .col-lg-9 {
    padding: 0; }
  nav .navigation p {
    font-family: Proxy;
    color: #eb2645;
    padding-bottom: 15px; }
  nav .navigation .menu {
    padding: 0;
    margin: 0;
    position: relative; }
  nav .navigation .menu-drop {
    padding-left: 28px;
    z-index: 99999999;
    background: #fff; }
    nav .navigation .menu-drop .row {
      padding: 0; }
  nav .navigation .menu li {
    padding-bottom: 5px;
    float: left;
    width: 134px;
    background: #182d47;
    display: table; }
  nav .navigation .menu li:hover {
    background: #ffffff; }
    nav .navigation .menu li:hover a {
      font-family: Proxy;
      color: #182d47; }
  nav .navigation .menu-drop li {
    font-family: Proxy;
    background: #ffffff;
    width: 300px; }
  nav .navigation .menu-drop a,
  nav .navigation .menu a {
    font-family: Proxy;
    text-align: center;
    height: 56px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    font-size: 9pt; }
  nav .navigation .menu li ul {
    padding-top: 25px;
    position: absolute;
    top: 58px;
    left: -50px;
    width: 140%;
    height: 235px;
    display: none; }
    nav .navigation .menu li ul li {
      font-family: Proxy;
      float: none; }
  nav .navigation .menu li:hover ul {
    display: block; }
  nav .navigation .search {
    padding-top: 4px; }
    nav .navigation .search input[type="search"] {
      font-family: Proxy;
      padding-left: 43px;
      width: 295px;
      height: 47px; }
    nav .navigation .search input[type="submit"] {
      background: #fff;
      border: none;
      margin: 13px 0 0 18px;
      position: absolute;
      height: 18px;
      width: 18px;
      background-image: url("../img/search.png");
      background-size: cover; }

main {
  width: 100%; }
  main .navig {
    padding: 15px 0 0 2.5%; }
    main .navig h2 {
      font-family: Proxy;
      font-size: 12pt;
      text-transform: uppercase; }
      main .navig h2 a {
        font-family: Proxy;
        text-decoration: none;
        color: #000;
        font-size: 12pt; }
      main .navig h2 a:hover {
        color: grey; }
      main .navig h2 span {
        font-family: Proxy;
        color: #eb2645; }
  main .date-cat {
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    padding-left: 2.5%;
    font-family: Proxy; }
    main .date-cat span {
      text-transform: uppercase; }
    main .date-cat .date1:before {
      content: "";
      display: block;
      background: url("../img/date2.png") no-repeat;
      background-size: cover;
      width: 18px;
      height: 20px;
      float: left;
      margin-right: 4%;
      margin-top: -1%; }
    main .date-cat .date2:before {
      content: "";
      display: block;
      background: url("../img/date1.png") no-repeat;
      background-size: cover;
      width: 25px;
      height: 18px;
      float: left;
      margin-right: 1%; }
  main .main_content {
    margin-bottom: 6.5%; }
    main .main_content .sidebar {
      margin-left: 10%;
      padding-left: 7%;
      background: #eb2645;
      width: 292px;
      height: 440px;
      padding-top: 10%; }
      main .main_content .sidebar .side-bar {
        margin-top: 5%; }
      main .main_content .sidebar span {
        font-family: Proxy;
        color: #fff; }
      main .main_content .sidebar a {
        font-family: Proxy;
        color: white;
        text-decoration: none; }
      main .main_content .sidebar aside {
        padding-top: 1%;
        padding-bottom: 1%;
        font-family: Proxy;
        color: #fff;
        font-size: 11pt; }
      main .main_content .sidebar aside:before {
        padding-right: 3%;
        margin-right: 4%;
        content: "";
        display: block;
        background: url("../img/down.png") no-repeat;
        background-size: cover;
        width: 8px;
        height: 15px;
        float: left; }
      main .main_content .sidebar .aside1 {
        margin: 0;
        font-family: Proxy;
        padding-bottom: 10px;
        padding-top: 5px;
        color: #fff;
        font-size: 11pt; }
      main .main_content .sidebar .aside1 :before {
        content: "";
        display: block;
        background: url("../img/cursor.png") no-repeat;
        background-size: cover;
        width: 12px;
        height: 15px;
        float: left;
        margin-right: 2.5%; }
      main .main_content .sidebar .aside2 {
        font-family: Proxy;
        padding-bottom: 10px;
        padding-top: 5px;
        color: #fff;
        font-size: 11pt; }
      main .main_content .sidebar .aside2:before {
        content: "";
        display: block;
        background: url("../img/ii.png") no-repeat;
        background-size: cover;
        width: 12px;
        height: 15px;
        float: left;
        margin-right: 2.5%; }
      main .main_content .sidebar img.displayed {
        margin-top: 9%;
        margin-left: 15%;
        width: 125px;
        height: 170px; }
    main .main_content .slide {
      margin-left: 40px;
      margin-right: 30px;
      background-color: #2b2e33;
      height: 440px; }
      main .main_content .slide img {
        height: 440px;
        margin: 0; }
      main .main_content .slide .col-lg-5, main .main_content .slide col-lg-7 {
        padding: 0; }
      main .main_content .slide .w3-content {
        margin: 0;
        color: white; }
        main .main_content .slide .w3-content h3 {
          font-family: Proxy;
          font-size: 16pt; }
        main .main_content .slide .w3-content p {
          font-family: Proxy;
          font-size: 12pt;
          color: grey; }
        main .main_content .slide .w3-content a {
          font-family: Proxy;
          text-transform: uppercase;
          color: dodgerblue;
          text-decoration: none; }
      main .main_content .slide .control_slider .w3-center {
        margin-left: 22.5%; }
      main .main_content .slide .mySlides {
        display: none;
        margin-top: 10%; }
      main .main_content .slide .w3-left, main .main_content .slide .w3-right, main .main_content .slide .w3-badge {
        cursor: pointer; }
      main .main_content .slide .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0; }
  main .mob_products {
    display: none;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
    font-family: Proxy; }
    main .mob_products .Title {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 4%;
      border-bottom: 1px solid silver; }
    main .mob_products .col-xs-6 {
      padding: 0; }
    main .mob_products .mob_pro {
      padding-top: 10%;
      padding-bottom: 10%;
      border-bottom: 1px solid silver; }
      main .mob_products .mob_pro h2 {
        padding-top: 5%;
        font-size: 12pt; }
      main .mob_products .mob_pro h3 {
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 9pt;
        color: silver;
        text-transform: uppercase; }
      main .mob_products .mob_pro h3:before {
        content: "";
        display: block;
        background: url("../img/point.png") no-repeat;
        background-size: cover;
        width: 8px;
        height: 8px;
        float: left;
        margin-right: 5%; }
      main .mob_products .mob_pro p {
        font-size: 9pt; }
      main .mob_products .mob_pro img {
        width: 120px;
        height: 120px;
        border: 1px solid silver; }
  main .products {
    padding: 2.2% 0 2.8% 0;
    background-color: #f5f6f7; }
    main .products .set_pro {
      padding-left: 0.7%; }
    main .products p.Title {
      font-family: Proxy;
      padding: 1% 1% 1% 3.4%;
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: bold; }
    main .products .set_pro {
      margin-left: 1.2%; }
    main .products .pro {
      background-color: #fff;
      padding: 1.8% 3% 0 2.2%;
      width: 290px;
      height: 370px;
      margin-top: 2%;
      margin-left: 1.5%; }
      main .products .pro button {
        background-color: #eb2645;
        color: #fff;
        border: none; }
      main .products .pro .ttlepro {
        margin-top: 12%;
        margin-bottom: 0;
        height: 15%; }
      main .products .pro h2 {
        font-family: Proxy;
        font-weight: bold;
        font-size: 12pt; }
      main .products .pro h3 {
        font-family: Proxy;
        text-transform: uppercase;
        font-size: 9pt;
        color: grey; }
      main .products .pro h3:before {
        content: "";
        display: block;
        background: url("../img/point.png") no-repeat;
        background-size: cover;
        width: 8px;
        height: 8px;
        float: left;
        margin: 4px; }
      main .products .pro h4 {
        font-family: Proxy;
        font-size: 11pt; }
      main .products .pro h5 {
        font-family: Proxy;
        text-transform: uppercase;
        font-size: 10pt; }
      main .products .pro span {
        font-family: Proxy;
        text-transform: uppercase;
        font-weight: bold; }
      main .products .pro img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 100px;
        margin-top: 2%; }
      main .products .pro button.displayed {
        margin-top: 1.5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 162px;
        height: 38px; }
  main .proOptions {
    text-decoration: none;
    font-family: Proxy;
    color: black; }
  main .proOptions:after {
    content: "";
    display: block;
    background: url("../img/products/downblue.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left; }
  main .mainttl_prod .col-lg-6, main .mainttl_prod .col-lg-4 {
    padding: 0; }
  main .mainttl_prod h3 {
    font-family: Proxy;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt; }
    main .mainttl_prod h3 span {
      color: #eb2645; }
  main .mainttl_prod .col-lg-1, main .mainttl_prod .col-lg-2, main .mainttl_prod .col-lg-3, main .mainttl_prod col-lg-4, main .mainttl_prod col-lg-6 {
    padding: 0; }
  main .mainttl_prod .col-lg-1 {
    padding-left: 5px; }
  main .mainttl_prod .btn_cat1 {
    width: 30px;
    height: 30px;
    margin-right: 20%;
    border: none;
    background-image: url("../img/products/menu1.png");
    background-color: white;
    background-size: cover;
    position: absolute;
    left: -12px;
    top: -10px; }
  main .mainttl_prod .btn_cat2 {
    width: 30px;
    height: 30px;
    margin-right: 20%;
    border: none;
    background-image: url("../img/products/menu2.png");
    background-color: white;
    background-size: cover;
    position: relative;
    left: 20px;
    top: -10px; }
  main .main_prod {
    margin-left: 4%;
    margin-right: 3.5%;
    margin-top: 1.2%; }
    main .main_prod .sidettl_prod {
      font-family: Proxy;
      margin-bottom: 5%;
      text-transform: uppercase;
      font-weight: bold; }
    main .main_prod .contextmenu {
      background-color: #eb2645; }
    main .main_prod .ulcategor {
      background-color: white;
      float: left;
      list-style: none; }
      main .main_prod .ulcategor li {
        padding: 5%;
        background-color: #f7f7f7;
        border: 1px solid lightgrey;
        margin-bottom: 2%; }
    main .main_prod .ulvendeur {
      background-color: white;
      padding-bottom: 6%;
      float: left;
      list-style: none; }
      main .main_prod .ulvendeur li {
        padding: 5%;
        border-bottom: 1px solid lightgrey; }
      main .main_prod .ulvendeur .col-lg-1, main .main_prod .ulvendeur .col-lg-2, main .main_prod .ulvendeur .col-lg-9 {
        padding: 0; }
    main .main_prod .cost, main .main_prod .category, main .main_prod .vendor {
      font-family: Proxy;
      color: white;
      margin-left: 10%;
      margin-right: 10%;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 5%;
      padding-bottom: 5%; }
    main .main_prod .cost, main .main_prod .vendor {
      border-top: 1px solid white; }
    main .main_prod .plan {
      font-size: 10pt;
      padding: 14% 5% 10% 5%;
      background-color: #182d47;
      color: white; }
      main .main_prod .plan a {
        text-decoration: none;
        color: white; }
      main .main_prod .plan .col-lg-3, main .main_prod .plan .col-lg-9 {
        padding: 0; }
      main .main_prod .plan h3 {
        font-family: Proxy;
        font-weight: bold;
        font-size: 13pt; }
      main .main_prod .plan img {
        border: 1px solid white;
        width: 50px;
        height: 35px; }
      main .main_prod .plan p, main .main_prod .plan span {
        font-family: Proxy;
        margin-left: 2%;
        margin-top: 6%;
        margin-bottom: 5%; }
      main .main_prod .plan span:before {
        content: "";
        display: block;
        background: url("../img/products/downred.png") no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        float: left;
        margin: 4px;
        position: relative;
        top: -8px; }
  main .foot_prod {
    color: white;
    margin-bottom: 50px; }
    main .foot_prod .empty {
      height: 50px;
      margin-right: 10%; }
      main .foot_prod .empty .btnwtf {
        position: relative;
        height: 50px;
        width: 50px;
        top: 25px;
        left: 25px; }
    main .foot_prod .foot_prod_row {
      background-color: #182d47;
      margin-right: 10%; }
      main .foot_prod .foot_prod_row .col-lg-9 {
        padding-top: 7%;
        padding-left: 5%;
        padding-bottom: 7%; }
      main .foot_prod .foot_prod_row .col-lg-3 {
        padding: 0; }
      main .foot_prod .foot_prod_row a {
        font-family: Proxy;
        text-decoration: none; }
      main .foot_prod .foot_prod_row .rowinrow {
        background-color: #eb2645;
        margin: 12% 10% 12% 7%;
        height: 100px;
        width: 100px;
        text-align: center;
        padding-top: 25px;
        color: white; }
  main .main_prod hr {
    margin: 0; }
  main .pro_items {
    margin-top: 5%;
    text-align: center;
    display: block;
    margin-left: 35%; }
    main .pro_items ul a {
      text-decoration: none;
      color: black; }
    main .pro_items ul .active a {
      color: #eb2645; }
    main .pro_items ul .disable a {
      color: black; }
    main .pro_items ul li {
      float: left;
      list-style: none;
      padding-right: 4%; }
    main .pro_items ul .btn_cat1 {
      height: 30px;
      width: 30px;
      border: none;
      background: url("../img/products/prev.png") no-repeat;
      background-size: cover;
      position: relative;
      top: -7px; }
    main .pro_items ul .btn_cat2 {
      height: 30px;
      width: 30px;
      border: none;
      background: url("../img/products/next.png") no-repeat;
      background-size: cover;
      position: relative;
      top: -7px; }
  main .items_prod {
    padding: 2.2% 0 5% 0; }
    main .items_prod .hrpro {
      width: 100%;
      margin: 0; }
    main .items_prod .hrpro1 {
      width: 100%;
      margin: 0; }
    main .items_prod .hrpro1:before {
      content: "";
      display: block;
      background: url("../img/products/triangle.png") no-repeat;
      background-size: cover;
      position: absolute;
      width: 70px;
      height: 70px;
      float: left; }
    main .items_prod .pro {
      background-color: #fff;
      padding: 1.6% 3% 0 0;
      width: 290px;
      height: 350px; }
      main .items_prod .pro button {
        background-color: #eb2645;
        color: #fff;
        border: none; }
      main .items_prod .pro h2 {
        font-family: Proxy;
        margin-top: 30px;
        font-weight: bold;
        padding-bottom: 2%;
        font-size: 12pt; }
      main .items_prod .pro h3 {
        font-family: Proxy;
        text-transform: uppercase;
        font-size: 9pt;
        margin-top: 10px;
        color: grey; }
      main .items_prod .pro h3:before {
        content: "";
        display: block;
        background: url("../img/point.png") no-repeat;
        background-size: cover;
        width: 8px;
        height: 8px;
        float: left;
        margin: 4px; }
      main .items_prod .pro h4 {
        font-family: Proxy;
        padding-top: 8px;
        font-size: 11pt; }
      main .items_prod .pro h5 {
        font-family: Proxy;
        text-transform: uppercase; }
      main .items_prod .pro span {
        font-family: Proxy;
        text-transform: uppercase;
        font-weight: bold; }
      main .items_prod .pro img.displayed {
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 120px;
        border: 1px solid grey; }
      main .items_prod .pro button.displayed {
        margin-top: 6.5%;
        width: 162px;
        height: 38px; }
  main .buypro .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  main .headpro {
    background-color: #182d47;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 55px; }
    main .headpro h3 {
      font-family: Proxy;
      margin-top: 12px;
      margin-left: 15px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      font-size: 10pt; }
  main .contentpro {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f6f7; }
    main .contentpro ul {
      font-family: Proxy;
      float: left;
      list-style: none;
      width: 100%; }
      main .contentpro ul .righttext {
        text-align: right; }
      main .contentpro ul .lefttext {
        text-align: left; }
      main .contentpro ul .lastLi {
        padding-top: 5%;
        margin-top: 5%;
        padding-bottom: 10%;
        border-top: 1px solid lightgrey; }
    main .contentpro .contentpro_und a {
      font-family: Proxy;
      font-size: 10pt;
      text-decoration: none;
      color: black; }
    main .contentpro .contentpro_und a:before {
      content: "";
      display: block;
      background: url("../img/rec/back.png") no-repeat;
      background-size: cover;
      float: left;
      width: 16px;
      height: 15px;
      margin-right: 5%;
      margin-left: 20%; }
    main .contentpro .col-lg-5, main .contentpro .col-lg-7 {
      padding: 0;
      padding-left: 7%; }
      main .contentpro .col-lg-5 span, main .contentpro .col-lg-7 span {
        font-family: Proxy;
        text-transform: uppercase;
        font-weight: bold; }
    main .contentpro .col-lg-5 {
      text-align: right;
      padding-right: 5%; }
    main .contentpro p {
      font-family: Proxy;
      padding-bottom: 5%;
      padding-top: 5%; }
    main .contentpro hr {
      margin-bottom: 10%;
      margin-left: 5%;
      margin-right: 5%; }
    main .contentpro .btnbuy {
      text-transform: uppercase;
      margin-bottom: 10px;
      border: none;
      background-color: #eb2645;
      color: white;
      margin-left: 40px;
      width: 200px;
      height: 50px; }
    main .contentpro img {
      width: 20px;
      height: 20px; }
  main .footpro {
    padding-top: 20px;
    padding-bottom: 20px; }
    main .footpro .footpro_aj {
      border: 1px solid #182d47;
      padding-left: 5%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11pt; }
    main .footpro .footpro_pr a {
      text-decoration: none;
      color: black;
      font-family: Proxy;
      text-transform: uppercase; }
    main .footpro .footpro_pr img {
      position: relative;
      top: 4px;
      width: 20px;
      height: 20px; }
    main .footpro .col-lg-5, main .footpro .col-lg-7 {
      padding: 0;
      padding-left: 10px;
      text-transform: uppercase;
      font-size: 9pt; }
    main .footpro img {
      width: 20px;
      height: 20px;
      position: relative;
      top: 4px; }
  main .menus {
    margin-bottom: 20px;
    margin-left: 3.7%; }
    main .menus hr {
      color: grey;
      margin-right: 3.8%; }
    main .menus label {
      font-family: Proxy;
      font-size: 25pt; }
  main .menus2 {
    margin-top: 2%;
    margin-left: 3.7%; }
    main .menus2 hr {
      color: grey;
      margin-top: 1%;
      margin-right: 3.8%; }
    main .menus2 label {
      font-family: Proxy;
      font-size: 25pt; }
    main .menus2 img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      border: 1px solid grey;
      background-size: cover;
      position: relative;
      top: 3px;
      left: 5px; }
  main .mainpro {
    margin-left: 2.5%;
    margin-right: 3%;
    margin-bottom: 10%; }
    main .mainpro .rec_pro .inpro {
      margin-top: 20px;
      margin-bottom: 20px; }
      main .mainpro .rec_pro .inpro .vend {
        border: 1px solid grey;
        height: 100px;
        width: 100px; }
      main .mainpro .rec_pro .inpro .laki {
        margin-top: 20px; }
      main .mainpro .rec_pro .inpro .pm {
        width: 30px;
        height: 30px;
        border: none;
        background-color: white;
        color: black; }
      main .mainpro .rec_pro .inpro .dgt {
        width: 30px;
        height: 30px; }
      main .mainpro .rec_pro .inpro .likerec {
        width: 20px;
        height: 20px; }
    main .mainpro .rec_pro .ttl {
      margin-top: 60px;
      margin-bottom: 10px; }
      main .mainpro .rec_pro .ttl .col-lg-6 {
        padding: 0; }
      main .mainpro .rec_pro .ttl .righttext {
        font-family: Proxy;
        text-align: right; }
    main .mainpro .rec_pro h3 {
      font-family: Proxy;
      text-transform: uppercase;
      color: #eb2645; }
    main .mainpro .rec_pro a {
      font-family: Proxy;
      text-decoration: none;
      color: black; }
    main .mainpro .rec_pro a:hover {
      color: grey; }
    main .mainpro .rec_pro .alike:before {
      content: "";
      display: block;
      background: url("../img/rec/like.png") no-repeat;
      background-size: cover;
      float: left;
      width: 16px;
      height: 15px;
      margin-right: 5%; }
    main .mainpro .rec_pro .arec:before {
      content: "";
      display: block;
      background: url("../img/rec/rec.png") no-repeat;
      background-size: cover;
      float: left;
      width: 16px;
      height: 15px;
      margin-right: 5%; }
    main .mainpro .rec_pro span {
      font-family: Proxy;
      color: grey;
      font-size: 12px; }

footer hr {
  background-color: #eb2645;
  border: none;
  height: 3px;
  margin-top: 12px;
  width: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
footer h2 {
  font-family: Proxy;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt; }
footer h3 {
  font-family: Proxy;
  font-weight: bold; }
footer h4 {
  font-family: Proxy;
  font-size: 8pt;
  color: lightgrey;
  text-decoration: none; }
  footer h4 a {
    font-family: Proxy;
    color: grey;
    text-decoration: none; }
footer .faq {
  background-color: #eb2645;
  color: #fff;
  padding-top: 2%;
  height: 73px; }
  footer .faq .col-lg-1, footer .faq .col-lg-2 {
    padding: 0; }
  footer .faq h2 {
    padding-top: 2%;
    font-size: 10pt;
    font-family: Proxy;
    margin-left: -10px;
    margin-top: -2px; }
  footer .faq a {
    font-family: Proxy;
    font-size: 8pt;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  footer .faq .foot1 {
    background: url("../img/faq.png") no-repeat; }
  footer .faq .foot2 {
    background: url("../img/tchat.png") no-repeat; }
  footer .faq .foot3 {
    background: url("../img/appel.png") no-repeat; }
  footer .faq .foot4 {
    background: url("../img/mail.png") no-repeat; }
  footer .faq a:before {
    padding-right: 30px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left; }
  footer .faq ul li {
    margin-left: 30px;
    float: left;
    list-style: none; }
footer .info {
  padding: 2.5% 3% 0 0;
  background-color: #182d47;
  color: #fff; }
  footer .info .info_2 {
    padding-top: 1%; }
    footer .info .info_2 h3 {
      font-size: 14pt;
      margin: 0; }
  footer .info .info_1 {
    padding: 0; }
    footer .info .info_1 .col-lg-6 {
      padding: 0;
      padding-bottom: 2%;
      padding-right: 10%;
      text-align: center; }
      footer .info .info_1 .col-lg-6 hr {
        margin-top: 0;
        margin-bottom: 0; }
  footer .info .adress {
    margin-top: 10px;
    height: 45px; }
  footer .info input[type="text"] {
    padding-right: 50px;
    padding-left: 15px;
    width: 275px;
    height: 48px; }
  footer .info input[type="submit"] {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #eb2645;
    color: #fff;
    position: relative;
    margin-left: -25px;
    top: -44px;
    left: 255px; }
  footer .info .social {
    margin-top: 11%; }
    footer .info .social ul.list-inline {
      margin-top: 4%; }
      footer .info .social ul.list-inline li {
        float: left;
        list-style: none;
        padding: 0;
        padding-right: 11px; }
        footer .info .social ul.list-inline li a {
          font-family: Proxy;
          color: #fff; }
        footer .info .social ul.list-inline li img {
          width: 30px;
          height: 30px;
          border-radius: 100%; }
  footer .info .group {
    padding-left: 20%; }
    footer .info .group a:hover {
      color: white; }
  footer .info .group2 {
    margin-top: 6%; }
footer .copy {
  padding: 1.6% 4% 1% 4%;
  background-color: #182d47;
  color: lightgrey; }
  footer .copy hr {
    border: none;
    background-color: grey;
    height: 2px;
    margin-bottom: 1%;
    width: auto; }
  footer .copy .copyright {
    padding: 0; }
  footer .copy .credits {
    padding: 0; }
  footer .copy ul.list-inline {
    margin-left: 5%; }
    footer .copy ul.list-inline li {
      float: right;
      list-style: none; }
      footer .copy ul.list-inline li a {
        font-family: Proxy;
        padding-left: 40px;
        padding-right: 0px;
        color: lightgrey;
        text-decoration: none;
        font-size: 9pt; }
      footer .copy ul.list-inline li a:hover {
        text-decoration: underline; }

@media screen and (min-width: 320px) and (max-width: 640px) {
  header {
    height: 60px; }

  header .logo img {
    height: 60px;
    padding: 0; }

  .login {
    display: none; }

  .lang {
    display: none; }

  header .rec {
    height: 60px; }

  header .menuMob {
    display: block;
    height: 60px; }
    header .menuMob img {
      position: relative;
      top: 20px;
      left: 10px;
      height: 25px;
      width: 35px; }

  .banner {
    height: 200px;
    border: none; }
    .banner h1 {
      padding-top: 0; }

  nav {
    display: none; }

  .slide {
    display: none; }

  main .main_content .sidebar {
    margin: 0; }

  main .date-cat {
    padding-top: 5%; }
    main .date-cat .col-xs-12 {
      padding-top: 2%; }

  main .buypro {
    padding: 0; }
    main .buypro .footpro_pr {
      display: none; }

  main .navig {
    display: none; }

  main .menus2 {
    padding-top: 10%; }
    main .menus2 hr {
      margin-top: 4%; }

  main .mainpro .rec_pro .inpro .col-xs-5 {
    padding: 0; }
  main .mainpro .rec_pro .inpro .col-xs-6, main .mainpro .rec_pro .inpro .col-xs-12 {
    padding: 0; }

  main .contentpro .btnbuy {
    width: 250px;
    margin-left: 25px; }

  main .mainpro .rec_pro .ttl .righttext {
    text-align: left !important; }

  main .products {
    padding-bottom: 10%; }

  main .products .pro {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 5%; }

  main .mob_products {
    display: block; }

  footer .faq {
    padding-top: 20px;
    padding-bottom: 135px; }
    footer .faq .col-xs-6 {
      padding: 0;
      margin-top: 4%; }
    footer .faq h2 {
      padding-left: 10%; }

  footer .info .info_1 {
    padding-bottom: 30px; }
    footer .info .info_1 .col-lg-6 {
      padding: 0;
      padding-top: 5%; }

  footer .info .social {
    text-align: center;
    padding-bottom: 30px; }
    footer .info .social ul {
      margin-left: 15%; }

  footer .info .group {
    padding: 0;
    text-align: center;
    padding-bottom: 30px;
    line-height: 0; }

  footer .info .group2 {
    line-height: 0; }

  footer .copy .col-xs-12 {
    padding: 0; }

  footer .info input[type="text"] {
    width: 240px; }
  footer .info input[type="submit"] {
    margin-left: -60px; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 70px; }

  header .logo img {
    height: 70px;
    padding: 0; }

  .login {
    display: none; }

  .lang {
    display: none; }

  header .rec {
    height: 70px; }

  header .menuPad {
    display: block;
    height: 70px; }
    header .menuPad img {
      position: relative;
      top: 24px;
      height: 25px;
      width: 35px; }

  header .likePad {
    display: block;
    height: 70px; }
    header .likePad img {
      position: relative;
      top: 22px;
      left: 5px; }

  header .searchPad {
    display: block;
    height: 70px; }
    header .searchPad img {
      position: relative;
      top: 20px;
      left: 3px; }

  .banner {
    height: 200px;
    border: none; }
    .banner h1 {
      padding-top: 0; }

  main .mainpro {
    margin-left: 0px;
    margin-right: 0px; }

  main .date-cat {
    padding-top: 2%; }
    main .date-cat .col-sm-6 {
      padding-top: 2%; }

  main .main_content .sidebar {
    margin: 0;
    width: auto;
    height: 350px;
    margin-top: 3%;
    padding: 5% 0 0 5%; }

  .slide {
    display: none; }

  nav {
    display: none; }

  .navig {
    display: none; }

  main .contentpro .btnbuy {
    margin-left: 20px;
    width: 170px; }

  footer .info .info_1 .col-lg-6 {
    padding: 0; }

  footer .info {
    padding-right: 0; }

  footer .info .group {
    padding-left: 0; }

  footer .info .info_2 {
    padding: 0;
    padding-top: 5%; }

  footer .info .social {
    margin-top: 0; }

  footer .info .social {
    text-align: center;
    padding-bottom: 30px; }
    footer .info .social ul {
      margin-left: 15%; }

  footer .info input[type="text"] {
    width: 240px; }
  footer .info input[type="submit"] {
    margin-left: -60px; } }

/*# sourceMappingURL=style.css.map */
