html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 75px;
  font-size: 8pt; }
  header .logo img {
    height: 75px;
    padding-left: 12px;
    padding-top: 12px; }
  header .login {
    margin-top: 30px; }
    header .login ul .colon {
      list-style: none; }
    header .login a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000; }
  header .lang {
    margin-top: 30px; }
    header .lang img {
      margin-left: 5%;
      width: 25px;
      height: 15px; }
  header .rec {
    padding: 0;
    width: 95px;
    background-color: #eb2645;
    height: 75px;
    color: #ffffff;
    float: right; }
    header .rec a {
      display: block;
      position: relative;
      height: 100%; }
      header .rec a label {
        color: white;
        font-size: 8pt;
        position: absolute;
        top: 20%;
        right: 25%; }
      header .rec a img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }

.banner {
  width: 100%;
  height: 234px;
  background-color: #fde626;
  background-image: url("../img/banner.png");
  background-position: top;
  background-repeat: no-repeat;
  float: left;
  border: 6px solid white; }
  .banner h1 {
    font-weight: bold;
    font-size: 26pt;
    color: #000; }

nav .navigation {
  background: #182d47;
  height: 65px;
  padding: 8px;
  list-style: none; }
  nav .navigation ul.list-inline li {
    float: left;
    list-style: none;
    margin-right: 1%;
    display: table; }
    nav .navigation ul.list-inline li a {
      font-size: 9pt;
      display: table-cell;
      vertical-align: middle;
      padding: 10px 15px;
      color: #fff;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      text-align: center;
      height: 61px; }
      nav .navigation ul.list-inline li a:hover {
        background: #fff;
        color: #182d47; }
  nav .navigation .search input[type="search"] {
    padding-left: 50px;
    margin-left: 7px;
    width: 282px;
    height: 47px; }
  nav .navigation .search input[type="submit"] {
    background: #fff;
    border: none;
    margin: 10px 0 0 20px;
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url("../img/pikachu.png");
    background-size: cover; }

main {
  width: 100%; }
  main .navig {
    height: 100px; }
    main .navig h2 {
      font-size: 12pt; }
      main .navig h2 a {
        text-decoration: none;
        color: #000;
        font-size: 12pt; }
    main .navig .row {
      padding: 20px 20px 0px 0px; }
  main .main_content {
    margin-bottom: 7%; }
    main .main_content .sidebar {
      margin-left: 28px;
      padding-left: 5%;
      background: #eb2645;
      width: 276px;
      height: 410px;
      padding-top: 10%; }
      main .main_content .sidebar span {
        color: #fff;
        padding: 4% 4%; }
      main .main_content .sidebar aside {
        padding-bottom: 10px;
        padding-top: 5px;
        color: #fff;
        font-size: 11pt; }
      main .main_content .sidebar aside:before {
        margin-right: 4%;
        content: "";
        display: block;
        background: url("../img/down.png") no-repeat;
        background-size: cover;
        width: 8px;
        height: 15px;
        float: left; }
      main .main_content .sidebar img.displayed {
        margin-top: 4%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 160px; }
    main .main_content .slide {
      margin-left: 35px;
      margin-right: 30px;
      background-color: #2b2e33;
      height: 410px; }
  main .products {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #f5f6f7; }
    main .products h2 {
      padding-bottom: 2%;
      text-transform: uppercase;
      font-size: 11pt; }
    main .products .pro {
      background-color: #fff;
      margin-left: 20px;
      padding: 20px 40px 35px 25px;
      margin-bottom: 20px;
      width: 283px;
      height: 330px; }
      main .products .pro button {
        background-color: #eb2645;
        color: #fff;
        border: none; }
      main .products .pro h2 {
        margin-top: 20px;
        font-weight: bold; }
      main .products .pro h3 {
        text-transform: uppercase;
        font-size: 10pt;
        margin-top: 10px;
        color: gray; }
      main .products .pro h3:before {
        content: "";
        display: block;
        background: url("../img/point.png") no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
        float: left; }
      main .products .pro h4 {
        padding-top: 12px;
        font-size: 11pt; }
      main .products .pro h5 {
        text-transform: uppercase; }
      main .products .pro span {
        text-transform: uppercase;
        font-weight: bold; }
      main .products .pro img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        height: 120px; }
      main .products .pro button.displayed {
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        height: 40px; }
  main .maincontent .buypro .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  main .maincontent .headpro {
    background-color: #182d47;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px; }
    main .maincontent .headpro h3 {
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 10pt; }
  main .maincontent .contentpro {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f6f7; }
    main .maincontent .contentpro .btnbuy {
      text-transform: uppercase;
      margin-bottom: 10px;
      border: none;
      background-color: #eb2645;
      color: white;
      margin-left: 30px;
      width: 200px;
      height: 50px; }
    main .maincontent .contentpro img {
      width: 20px;
      height: 20px; }
  main .maincontent .footpro {
    padding-top: 20px;
    padding-bottom: 20px; }
    main .maincontent .footpro img {
      width: 20px;
      height: 20px; }
  main .maincontent .menus {
    margin-top: 30px;
    margin-bottom: 20px; }
    main .maincontent .menus label {
      font-size: 14pt;
      text-transform: uppercase; }
    main .maincontent .menus img {
      width: 30px;
      height: 30px;
      margin-right: 20px; }
    main .maincontent .menus hr {
      color: grey; }
  main .maincontent .mainpro {
    margin-bottom: 50px; }
    main .maincontent .mainpro .rec_pro .inpro {
      margin-top: 20px;
      margin-bottom: 20px; }
      main .maincontent .mainpro .rec_pro .inpro .laki {
        margin-top: 20px; }
      main .maincontent .mainpro .rec_pro .inpro .pm {
        width: 30px;
        height: 30px;
        border: none;
        background-color: white;
        color: black; }
      main .maincontent .mainpro .rec_pro .inpro .dgt {
        width: 30px;
        height: 30px; }
      main .maincontent .mainpro .rec_pro .inpro .likerec {
        width: 20px;
        height: 20px; }
    main .maincontent .mainpro .rec_pro .ttl {
      margin-top: 20px;
      margin-bottom: 10px; }
    main .maincontent .mainpro .rec_pro h3 {
      text-transform: uppercase;
      color: #eb2645; }
    main .maincontent .mainpro .rec_pro img {
      width: 100px;
      height: 100px; }
    main .maincontent .mainpro .rec_pro span {
      color: grey;
      font-size: 12px; }

footer hr {
  background-color: #eb2645;
  border: none;
  height: 3px;
  margin-top: 12px;
  width: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt; }
footer h3 {
  font-weight: bold; }
footer h4 {
  padding: 3% 0 3% 0;
  font-size: 10pt;
  color: #fff;
  text-decoration: none; }
  footer h4 a {
    color: grey;
    text-decoration: none; }
footer .faq {
  background-color: #eb2645;
  color: #fff;
  padding-top: 27px;
  height: 70px; }
  footer .faq a {
    font-size: 9pt;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  footer .faq img {
    width: 15px;
    height: 15px; }
footer .info {
  padding: 3% 3% 0 0;
  background-color: #182d47;
  color: #fff; }
  footer .info .info_1 .col-lg-6 {
    padding-bottom: 4%;
    text-align: center; }
  footer .info .adress {
    margin-top: 15px; }
  footer .info input[type="text"] {
    padding-right: 50px;
    padding-left: 25px;
    width: 250px;
    height: 48px; }
  footer .info input[type="submit"] {
    border: none;
    margin-left: -50px;
    height: 40px;
    width: 40px;
    background-color: #eb2645;
    color: #fff; }
  footer .info .social {
    margin-top: 25px; }
    footer .info .social ul.list-inline li {
      float: left;
      list-style: none;
      margin: 0 5px; }
      footer .info .social ul.list-inline li a {
        color: #fff; }
      footer .info .social ul.list-inline li img {
        width: 30px;
        height: 30px;
        border-radius: 100%; }
  footer .info .group {
    padding-left: 13%; }
footer .copy {
  padding: 1% 4% 2% 4%;
  background-color: #182d47;
  color: lightgrey; }
  footer .copy hr {
    border: none;
    background-color: grey;
    height: 2px;
    margin-bottom: 2%;
    width: auto; }
  footer .copy .copyright {
    padding: 0; }
  footer .copy .credits {
    padding: 0; }
  footer .copy ul.list-inline {
    margin-left: 5%; }
    footer .copy ul.list-inline li {
      float: right;
      list-style: none; }
      footer .copy ul.list-inline li a {
        padding-left: 40px;
        padding-right: 0px;
        color: lightgrey;
        text-decoration: none;
        font-size: 9pt; }

/*# sourceMappingURL=style.css.map */
