@import "_sprites.scss";

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover,
a:focus,
a:visited,
a:active {
  text-decoration:none;
}

header {
  width: 100% ;
  height: 90px;
  font-size: 8pt;
  margin-bottom:0.5%;

  ul.list-inline {
    li {
      float: left;
      list-style: none;
      margin: 0 5px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        color:#000;
      }
    }
  }

  .logo img {
    width: 225px;
    height: 85px;
  }

  .login {
    padding-left:130px;
    margin-top: 30px;
  }

  .lang {
    padding-left:60px;
    margin-top: 30px;
    img {
      width: 30px;
      height: 20px;
    }
  }

  .rec {
    background-color: #eb2645;
    height: 84px;
      .count {
        color: #ffffff;
      }
      img {
        width: 45px;
        height: 45px;
        margin: 20px 0 0 20px;
      }
  }
}

.banner {
    margin-bottom:0.5%;
    width: 100%;
    height: 250px;
    background-color: #fde626;
    background-image:url("img/banner.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    //border: 5px solid grey;
    h1 {
      font-weight: bold;
      font-size: 26pt;
      color: #000;
      text-align: center;
    }
}

nav {
  margin-top:1%;
  .navigation {
    background: #182d47;
    height: 70px;
    padding: 9px;

    ul.list-inline {

      li {
        float: left;
        list-style: none;
        vertical-align: middle;
        horiz-align: center;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          display: inline-block;
          padding: 10px 10px;
          text-align: center;

            &:hover {
              text-decoration: none;
              background-color: #fff;
              color: #182d47;
            }
        }
      }
    }

    .search input {
      width: 270px;
      height: 52px;
      //.inputsearch:focus::-webkit-input-placeholder {color:transparent}
    }
  }
}

main {
  width: 100%;

  .navig {
    h2 {
      a {
        text-decoration: none;
        color: #000;
      }
    }
    height: 100px;
    .row {
      padding: 20px 20px 0px 0px;
    }
  }

  .main_content {
    margin-bottom: 7%;

    .sidebar {
      padding-left:5%;
      background: #eb2645;
      width: 305px;
      height: 470px;
      padding-top:10%;

      span {
        color:#fff;
        padding: 4% 4%;
      }

        aside {
          padding: 4%;
          color: #fff;
          font-size: 11pt;
        }

        aside:before {
            margin-right:4%;
            content: "";
            display: block;
            background: url("../img/down.png") no-repeat;
            background-size: cover;
            width: 18px;
            height:18px;
            float: left;
        }

        img.displayed {
          margin-top:4%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 130px;
          height: 170px;
        }
    }

    .slide {
      margin-left: 8%;
      background-color: #2b2e33;
      height: 470px;
    }
  }

  .products {
    padding-left:2%;
    padding-top:6%;
    padding-bottom: 4%;
    background-color: #f5f6f7;

    h2 {
      padding-bottom:2%;
    }

    .pro {
      background-color: #fff;
      margin-left:2%;
      padding: 40px 40px 25px 25px;
      width: 250px;
      height: 370px;

      button {
        background-color: #eb2645;
        color: #fff;
      }

      h2 {
        margin-top:20%;
        font-weight: bold;
      }

      h3 {
        margin-top:10%;
        color: gray;
      }

      h3:before {
        content: "";
        display: block;
        background: url("../img/point.png") no-repeat;
        background-size: cover;
        width: 15px;
        height:15px;
        float: left;
      }

      h4 {

      }

      span{
        font-weight: bold;
      }

      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 110px;
      }

      button.displayed {
        margin-top:10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 40px;
      }
    }
  }
}

.prefooter {
  .faq {
    background-color: #eb2645;
    color:#fff;
    height: 80px;
    padding: 35px 35px 0px 215px;

    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 30px;

        a {
          color: #fff;
        }
      }
    }
  }
}


footer {
  
  hr {
    background-color: #eb2645;
    border: none;
    height: 2px;
    margin-top:2%;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-weight: bold;
  }

  h4 {
    padding: 3% 0 3% 0;
    font-size: 9pt;
    color: #fff;
    text-decoration: none;
    a {
      color: grey;
      text-decoration: none;
    }
  }

  .info {
    padding: 4% 3% 0 3%;
    background-color: #182d47;
    color:#fff;

    input {
      width: 290px;
      height: 50px;
    }

    .about {
      padding-bottom:4%;
      text-align: center;
    }

    .cont {
      padding-left:13%;
    }

    .social {
      padding-top:3%;
    }

    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 5px;
          a {
          color:#fff;
          }
          img {
            width: 30px;
            height: 30px;
          }
      }
    }
  }

  .copy {
    padding: 4% 4% 2% 4%;

    hr {
      border: none;
      background-color: grey;
      height: 2px;
      margin-bottom:2%;
      width: auto;
    }

    background-color: #182d47;
    color:lightgrey;
    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 5px;
          a {
          color: lightgrey;
        }
      }
    }
  }
}
