html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
}

a:hover,
a:focus,
a:visited,
a:active {
  text-decoration:none;
}

header {
  width: 100%;
  height: 90px;
  margin: 0;

  font-size: 8pt;

  ul.list-inline {
    li {
      float: left;
      list-style: none;
      margin: 0 5px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        color:#000;
      }
    }
  }

  .logo img {
    width: 225px;
    height: 85px;
  }

  .login {
    padding-left:130px;
    margin-top: 30px;
  }

  .lang {
    padding-left:60px;
    margin-top: 30px;
    img {
      width: 30px;
      height: 20px;
    }
  }

  .rec {
    background-color: #eb2645;
    height: 84px;
    .count {
      color: #ffffff;
    }
    img {
      width: 45px;
      height: 45px;
      margin: 20px 0 0 20px;
    }
  }
}

#banner {
  img {
    width: 100%;
    height: 250px;
  }
}

nav {
  background: #182d47;
  height: 70px;

  padding: 9px;
  ul.list-inline {

    li {
      float: left;
      list-style: none;
      vertical-align: middle;
      horiz-align: center;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 10px 10px;
        text-align: center;

          &:hover {
            text-decoration: none;
            background-color: #fff;
            color: #182d47;
          }
      }
    }
  }

  .search input {
    margin-left: 60px;
    width: 310px;
    height: 52px;
  }
}

main {
  width: 100%;

  .navig {
    margin-left:65px;
    height: 100px;
    .row {
      padding: 20px 20px 0px 0px;
    }

  }

  .main_content {
    margin-left:50px;
    margin-bottom: 85px;

    .sidebar {
      background: #eb2645;
      width: 305px;
      height: 470px;
      aside {
        padding: 10px 10px;
        color: #fff;
      }
      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 170px;
      }
    }

    .slide {
      margin-left: 20px;
      background-color: green;
      width: 900px;
      height: 470px;
    }

  }

  .products {
    padding-left:65px;
    padding-top:50px;
    margin-top: 20px;
    background-color: #f5f6f7;
    padding-bottom: 20px;

    button {
      background-color: #eb2645;
      color: #fff;
    }

    .pro {
      background-color: #fff;
      margin-left:20px;
      padding: 40px 40px 25px 25px;
      width: 300px;
      height: 370px;

      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 110px;
      }

      button.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        height: 40px;
      }
    }
  }
}


footer {
  background-color: #eb2645;

  .faq {
    background-color: #eb2645;
    margin-left: 0px;
    color:#fff;
    height: 80px;
    padding: 35px 35px 0px 215px;

    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 30px;

        a {
          color: #fff;
        }
      }
    }
  }

  .info {

    padding: 45px 35px 0px 50px;
    background-color: #182d47;
    color:#fff;

    input {
      width: 290px;
      height: 50px;
    }

    .about {
      padding-bottom:50px;
      text-align: center;
    }

    .cont {
      padding-left:130px;
    }

    .social {
      padding-top:30px;
    }

    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 5px;
          a {
          color:#fff;
          }
          img {
            width: 30px;
            height: 30px;
          }
      }
    }
  }

  .copy {
    padding-top:15px;
    padding-left:50px;
    background-color: #182d47;
    color:lightgrey;
    ul.list-inline {
      li {
        float: left;
        list-style: none;
        margin: 0 5px;
          a {
          color: lightgrey;
        }
      }

    }
  }
}

//.icon-fork {
//  img {
//    background-image: url('../destination/spritesheet.png');
//    background-position: 0px 0px;
//    width: 64px;
//    height: 64px;
//  }
//}