<section>
    <div class="container tablebanner">
        <div class="row banner">
            <h1>Le rendez-vous mondial de l'innovation alimentaire</h1>
        </div>
    </div>

        <div class="row banner_mob">
            <h1>Welcome</h1>
            <button class="mobban_but1">Log in</button>
            <button class="mobban_but2">Create an account</button>
        </div>

        <div class="row banner_mob2">

            <div class="row dropban">
                <a href=""><div class="col-xs-6 sel_1">select an event</div></a>
                <a href=""><div class="col-xs-6 sel_2">select a place</div></a>
            </div>

            <div class="row dropban1">
                <a href=""><div class="col-xs-2"><img src="img/1round.png" alt=""></div></a>
                <div class="col-xs-8">Your event</div>
                <a href=""><div class="col-xs-2"><img src="img/search.png" alt=""></div></a>
            </div>

            <div class="row dropban2">
                <a href=""><div class="col-xs-2"><img src="img/1round.png" alt=""></div></a>
                <div class="col-xs-8">Your event</div>
                <a href=""><div class="col-xs-2"><img src="img/search.png" alt=""></div></a>
            </div>

        </div>

</section>