<main>
    <div class="container">

            <div class="row navig">
                <div class="col-lg-4">
                    <h2><a href="#">Accueil</a><span> > </span><a href="#">Presentation</a><span> > Votre panner</span></h2>
                </div>
            </div>
            <div class="row date-cat">
                <div class="col-lg-5 col-xs-12 col-sm-12">
                    Palais des congres de Paris du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3 date1 col-xs-12 col-sm-6">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3 date2 col-xs-12 col-sm-6">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>

        <div class="row menus2">
            <a href="index.html"><img src="img/rec/back.png" alt="Back"></a>
            <label>Votre panier</label><hr>
        </div>

            <div class="row mainpro">
                <div class="col-lg-9 col-sm-8">
                    <div class="rec_pro">
                        <div class="row ttl">
                            <div class="col-lg-6 col-xs-12">
                                <h3>Vendeur1</h3>
                            </div>
                            <div class="col-lg-6 righttext col-xs-12">
                                Frails de ivrasion OFFERT
                            </div>
                        </div><hr>
                        <div class="row inpro">
                            <div class="col-lg-2 col-xs-5">
                                <img class="vend" src="img/rec/240.jpg" alt="vend1">
                            </div>
                            <div class="col-lg-4 col-xs-6">
                                Branchement intermittent 240 V<p>
                                <span>REX Q12345</span>
                            </div>
                            <div class="col-lg-offset-2 col-lg-4 col-xs-6">
                                <div class="row sum">
                                    <div class="col-lg-6 col-xs-12">

                                        <button class="pm" onclick="plus()">+</button>
                                        <input id="count1" class="dgt" type="text" value="10" pattern="\d [0-9]">
                                        <button class="pm" onclick="minus()">-</button>

                                        <script type="text/javascript">
                                            var count = document.getElementById("count1");
                                            function plus(){
                                                if ((parseInt(count.value) < 20)) {
                                                    count.value=parseInt(count.value) + 1;
                                                }
                                            }
                                            function minus(){
                                                if ((parseInt(count.value) > 0)) {
                                                    count.value=parseInt(count.value) - 1;
                                                }
                                            }
                                        </script>

                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        00,00 Є НТ
                                    </div>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="row laki">
                                <div class="col-lg-6 col-xs-6">
                                    <a class="alike" href="">
                                        ajouter a ma liste</a>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <a class="arec" href="">
                                        suprmer</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                    </div>
                    <div class="rec_pro">
                        <div class="row ttl">
                            <div class="col-lg-6 col-xs-12">
                                <h3>Vendeur2</h3>
                            </div>
                            <div class="col-lg-6 righttext col-xs-12">
                                Frails de ivrasion OFFERT
                            </div>

                        </div><hr>
                        <div class="row inpro">
                            <div class="col-lg-2 col-xs-5">
                                <img class="vend" src="img/rec/ipad.png" alt="vend1">
                            </div>
                            <div class="col-lg-4 col-xs-6">
                                Branchement intermittent 240 V<p>
                                <span>REX Q12345</span>
                            </div>
                            <div class="col-lg-offset-2 col-lg-4 col-xs-6">
                                <div class="row sum">
                                    <div class="col-lg-6 col-xs-12">

                                        <button class="pm" onclick="plus2()">+</button>
                                        <input id="count2" class="dgt" type="text" value="10">
                                        <button class="pm" onclick="minus2()">-</button>

                                        <script type="text/javascript">
                                            var count2 = document.getElementById("count2");
                                            function plus2(){
                                                if ((parseInt(count2.value) < 20)) {
                                                    count2.value=parseInt(count2.value) + 1;
                                                }
                                            }
                                            function minus2(){
                                                if ((parseInt(count2.value) > 0)) {
                                                    count2.value=parseInt(count2.value) - 1;
                                                }
                                            }
                                        </script>

                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        00,00 Є НТ
                                    </div>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="row laki">
                                <div class="col-lg-6 col-xs-6">
                                    <a class="alike" href="">
                                        ajouter a ma liste</a>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <a class="arec" href="">
                                        suprmer</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                            <div class="row inpro">
                                <div class="col-lg-2 col-xs-5">
                                    <img class="vend" src="img/rec/ipad.png" alt="vend1">
                                </div>
                                <div class="col-lg-4 col-xs-6">
                                    Branchement intermittent 240 V<p>
                                    <span>REX Q12345</span>
                                </div>
                                <div class="col-lg-offset-2 col-lg-4 col-xs-6">
                                    <div class="row sum">
                                        <div class="col-lg-6 col-xs-12">

                                            <button class="pm" onclick="plus3()">+</button>
                                            <input id="count3" class="dgt" type="text" value="10">
                                            <button class="pm" onclick="minus3()">-</button>

                                            <script type="text/javascript">
                                                var count3 = document.getElementById("count3");
                                                function plus3(){
                                                    if ((parseInt(count3.value) < 20)) {
                                                        count3.value=parseInt(count3.value) + 1;
                                                    }
                                                }
                                                function minus3(){
                                                    if ((parseInt(count3.value) > 0)) {
                                                        count3.value=parseInt(count3.value) - 1;
                                                    }
                                                }
                                            </script>

                                        </div>
                                        <div class="col-lg-6 col-xs-12">
                                            00,00 Є НТ
                                        </div>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="row laki">
                                    <div class="col-lg-6 col-xs-6">
                                        <a class="alike" href="">
                                            ajouter a ma liste</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <a class="arec" href="">
                                            suprmer</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 buypro">
                    <div class="row headpro">
                        <h3>montant</h3>
                    </div>
                    <div class="row contentpro">
                        <ul>
                            <li class="itemLi">
                                <div class="row">
                                    <div class="col-lg-7 col-xs-7 lefttext">Ht soumis TVA</div>
                                    <div class="col-lg-5 col-xs-5 righttext">3458,66 €</div>
                                </div>
                            </li>
                            <li class="itemLi">
                                <div class="row">
                                    <div class="col-lg-7 col-xs-7 lefttext">Estimation ilvraison</div>
                                    <div class="col-lg-5 col-xs-5 righttext">45,99 €</div>
                                </div>
                            </li>
                            <li class="lastLi">
                                <div class="row">
                                    <div class="col-lg-7 col-xs-7 lefttext">Total</div>
                                    <div class="col-lg-5 col-xs-5 righttext">3458,66 €</div>
                                </div>
                            </li>
                        </ul>
                        <div class="row contentpro_und">
                            <button class="btnbuy">Commander</button><p>
                            <a href="">Poursuivre vos achats</a>
                        </div>
                    </div>
                    <div class="row footpro">
                        <div class="row footpro_aj">
                            <img src="/img/rec/likeblue.png" alt="like">
                            Ajouter a une liste
                        </div>
                        <div class="row footpro_pr">
                            <div class="col-lg-5">
                                <a href="">
                                    <img src="/img/rec/print.png" alt="pr">
                                    imprimer
                                </a>
                            </div>
                            <div class="col-lg-7">
                                <a href="">
                                    <img src="/img/rec/mail.png" alt="ms">
                                    envoyer par mail
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">
                <div class="container">
                    <p class="Title">Comleter votre commande</p>
                    <div class="row set_pro">

                        <div class="col-lg-2 col-sm-3 pro">
                            <img class="displayed" src="img/products/ipad.png" alt=""><p>
                            <div class="row ttlepro">
                                <h2>Tablette Ipad 2</h2><br><p>
                            </div>
                            <div class="row ttlepro2">
                                <h3>en stock</h3><p><br>
                                <h4>A parte de <span>00,00 € NT</span></h4><br>
                            </div>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-2 col-sm-3 pro">
                            <img class="displayed" src="img/products/ipad.png" alt=""><p>
                            <div class="row ttlepro">
                                <h2>Tablette Ipad 2</h2><br><p>
                            </div>
                            <div class="row ttlepro2">
                                <h3>en stock</h3><p><br>
                                <h4>A parte de <span>00,00 € NT</span></h4><br>
                            </div>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-2 col-sm-3 pro">
                            <img class="displayed" src="img/products/ipad.png" alt=""><p>
                            <div class="row ttlepro">
                                <h2>Tablette Ipad 2</h2><br><p>
                            </div>
                            <div class="row ttlepro2">
                                <h3>en stock</h3><p><br>
                                <h4>A parte de <span>00,00 € NT</span></h4><br>
                            </div>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mob_products">
                <p class="Title">Comleter votre commande</p>

                <div class="row mob_pro">
                    <div class="col-xs-6"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                    <div class="col-xs-6">
                        <h2>Branchment intermittent 240 V</h2>
                        <h3 class="stock1">en stock</h3>
                        <p>A partir de</p>
                        <span>00,00 E NT</span>
                    </div>
                </div>

                <div class="row mob_pro">
                    <div class="col-xs-6"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                    <div class="col-xs-6">
                        <h2>Branchment intermittent 240 V</h2>
                        <h3 class="stock2">rupture de stock</h3>
                        <p>A partir de</p>
                        <span>00,00 E NT</span>
                    </div>
                </div>

                <div class="row mob_pro">
                    <div class="col-xs-6"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                    <div class="col-xs-6">
                        <h2>Branchment intermittent 240 V</h2>
                        <h3 class="stock3">rupture de stock</h3>
                        <p>A partir de</p>
                        <span>00,00 E NT</span>
                    </div>
                </div>
            </div>

    </div>
</main>