<main>
    <div class="container">
        <div class="navig">
            <div class="row">
                <div class="col-lg-4">
                    <a href="#">Accueil</a> > <a href="">Presentation</a> > Votre panner
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    Palais des congres de Paris du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>
        </div>
        <div class="maincontent">
            <div class="row menus">
                <img src="" alt="Back">
                <label>Votre panier</label>
            </div><hr>
            <div class="row mainpro">
                <div class="col-lg-9">
                    <div class="rec_pro">
                        <div class="row ttl">
                            <div class="col-lg-6">
                                <h3>Vendeur1</h3>
                            </div>
                            <div class="col-lg-6">
                                Frails de ivrasion OFFERT
                            </div>
                        </div><hr>
                        <div class="row inpro">
                            <div class="col-lg-2">
                                <img src="" alt="vend1">
                            </div>
                            <div class="col-lg-4">
                                Branchement intermittent 240 V<p>
                                <span>REX Q12345</span>
                            </div>
                            <div class="col-lg-offset-2 col-lg-4">
                                <div class="row sum">
                                    <div class="col-lg-6">
                                        <button class="pm">+</button>
                                        <input class="dgt" type="text" value="10" disabled>
                                        <button class="pm">-</button>
                                    </div>
                                    <div class="col-lg-6">
                                        00,00 Є НТ
                                    </div>
                                </div>
                                <div class="row laki">
                                    <div class="col-lg-6">
                                        <img src="" alt="like" class="likerec">
                                        ajouter a ma liste
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="" alt="rec" class="likerec">
                                        suprmer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                    </div>
                    <div class="rec_pro">
                        <div class="row ttl">
                            <div class="col-lg-6">
                                <h3>Vendeur1</h3>
                            </div>
                            <div class="col-lg-6">
                                Frails de ivrasion OFFERT
                            </div>

                        </div><hr>
                        <div class="row inpro">
                            <div class="col-lg-2">
                                <img src="" alt="vend1">
                            </div>
                            <div class="col-lg-4">
                                Branchement intermittent 240 V<p>
                                <span>REX Q12345</span>
                            </div>
                            <div class="col-lg-offset-2 col-lg-4">
                                <div class="row sum">
                                    <div class="col-lg-6">
                                        <button class="pm">+</button>
                                        <input class="dgt" type="text" value="10" disabled>
                                        <button class="pm">-</button>
                                    </div>
                                    <div class="col-lg-6">
                                        00,00 Є НТ
                                    </div>
                                </div>
                                <div class="row laki">
                                    <div class="col-lg-6">
                                        <img src="" alt="like" class="likerec">
                                        ajouter a ma liste
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="" alt="rec" class="likerec">
                                        suprmer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" inpro>
                            <hr>
                            <div class="row inpro">
                                <div class="col-lg-2">
                                    <img src="" alt="vend1">
                                </div>
                                <div class="col-lg-4">
                                    Branchement intermittent 240 V<p>
                                    <span>REX Q12345</span>
                                </div>
                                <div class="col-lg-offset-2 col-lg-4">
                                    <div class="row sum">
                                        <div class="col-lg-6">
                                            <button class="pm">+</button>
                                            <input class="dgt" type="text" value="10" disabled>
                                            <button class="pm">-</button>
                                        </div>
                                        <div class="col-lg-6">
                                            00,00 Є НТ
                                        </div>
                                    </div>
                                    <div class="row laki">
                                        <div class="col-lg-6">
                                            <img src="" alt="like" class="likerec">
                                            ajouter a ma liste
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="" alt="rec" class="likerec">
                                            suprmer
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 buypro">
                    <div class="row headpro">
                        <h3>montant</h3>
                    </div>
                    <div class="row contentpro">
                        <div class="row">
                            <div class="col-lg-6">
                                Ht soumis TVA<p>
                                Estimation ilvraison
                            </div>
                            <div class="col-lg-6">
                                3458,66 Є<p>
                                45,99 Є
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                            <div class="col-lg-6">
                                <p>Total<p>
                            </div>
                            <div class="col-lg-6">
                                3458,66 Є<p>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btnbuy">commander</button><p>
                            <img src="" alt="back">Poursuivre vos achats
                        </div>
                    </div>
                    <div class="row footpro">
                        <div class="row">
                            <img src="" alt="like">
                            Ajouter a une liste
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="" alt="pr">
                                imprimer
                            </div>
                            <div class="col-lg-6">
                                <img src="" alt="ms">
                                envoyer par mail
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row products">
                <div class="container">
                    <h2>Nos suggestions</h2>
                    <div class="row">
                        <div class="col-lg-2 pro">
                            <img class="displayed" src="#" alt="">
                            <p>
                            <h2>Tablette Ipad 2</h2><br>
                            <h3>en stock</h3>
                            <p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                            <p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                        <div class="col-lg-2 pro">
                            <img class="displayed" src="#" alt="">
                            <p>
                            <h2>Mur vegetal en contre plaque</h2>
                            <p>
                            <h3>en stock</h3>
                            <p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                            <p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                        <div class="col-lg-2 pro">
                            <img class="displayed" src="#" alt="">
                            <p>
                            <h2>Corbeile de fruits</h2><br>
                            <h3>en stock</h3>
                            <p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                            <p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>