<main>
    <div class="container">
        <div class="navig">
            <div class="row">
                <div class="col-lg-4">
                    <h2> <a href="#">Accueil</a> > Presentation </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    Palais des congres de Paris du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>
        </div>

        <div class="row main_content">
            <div class="col-lg-3">
                <div class="sidebar">
                    <span>Informations pratiques</span>
                    <aside>Information pratiques</aside>
                    <aside>Site de I'organisateur</aside>
                    <aside>Telecharger le cataloge<p>
                        de produits</aside>
                    <aside>Telecharger le dossier technique</aside>
                    <aside>Telecharger le dossier technique</aside>
                    <img class="displayed" src="img/sidebar-img.png" alt="SidebarImage">
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="slide">

                    </div>
                </div>
            </div>
        </div>

        <div class="row products">
            <div class="container">
                <h2>Nos suggestions</h2>
                <div class="row">
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="#" alt=""><p>
                        <h2>Tablette Ipad 2</h2><br>
                        <h3>en stock</h3><p>
                        <h4>A parte de <span>00,00 € NT</span></h4><p>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="#" alt=""><p>
                        <h2>Mur vegetal en contre plaque</h2><p>
                        <h3>en stock</h3><p>
                        <h4>A parte de <span>00,00 € NT</span></h4><p>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="#" alt=""><p>
                        <h2>Corbeile de fruits</h2><br>
                        <h3>en stock</h3><p>
                        <h4>A parte de <span>00,00 € NT</span></h4><p>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed"  src="#" alt=""><p>
                        <h2>Nom di produit sur plusieurs lignes</h2><p>
                        <h3>en stock</h3><p>
                        <h4>A parte de <span>00,00 € NT</span></h4><p>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>