<main>
    <div class="container">

            <div class="row navig">
                <div class="col-lg-4 col-xs-12">
                    <h2> <a href="#">Accueil</a><span> > Presentation</span></h2>
                </div>
            </div>
            <div class="row date-cat">
                <div class="col-lg-5 col-xs-12 col-sm-12">
                    <span>Palais des congres de Paris</span> du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3 date1 col-xs-12 col-sm-6">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3 date2 col-xs-12 col-sm-6">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>


        <div class="row main_content">
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="row side-title">
                        <span>Informations pratiques</span>
                    </div>
                    <div class="row side-bar col-sm-6 col-lg-12">
                        <a href=""><span class="aside1">Information pratiques</span><br></a>
                        <a href=""><span class="aside2">Site de I'organisateur</span><br></a>
                        <a href=""><aside>Telecharger le cataloge<br>de produits</aside></a>
                        <a href=""><aside>Telecharger le dossier technique</aside></a>
                        <a href=""><aside>Telecharger le dossier technique</aside></a>
                    </div>
                    <div class="row side-img col-sm-6 col-lg-12">
                        <img class="displayed" src="img/sidebar-img.png" alt="SidebarImage">
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">

                    <div class="slide">

                            <div class="w3-content w3-display-container" style="max-width:800px">
                                <div class="row">

                                <div class="col-lg-5">
                                    <img src="img/slider/slider.png">
                                </div>

                                <div class="col-lg-7">

                                    <div class="row mySlides">
                                        <a href="">Nouveau service 1</a>
                                        <h3>Recharger tablettes et smartphones avec la Tower charge</h3>
                                        <p>Offrez à vos visiteurs la possibilité de recharger leurs Smartphones ou tablettes avec TOWER CHARGE sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>

                                    <div class="row mySlides">
                                        <a href="">Nouveau service 2</a>
                                        <h3>Recharger tablettes et smartphones avec la Tower charge</h3>
                                        <p>Offrez à vos visiteurs la possibilité de recharger leurs Smartphones ou tablettes avec TOWER CHARGE sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>

                                    <div class="row mySlides">
                                        <a href="">Nouveau service 3</a>
                                        <h3>Recharger tablettes et smartphones avec la Tower charge</h3>
                                        <p>Offrez à vos visiteurs la possibilité de recharger leurs Smartphones ou tablettes avec TOWER CHARGE sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="row control_slider">
                                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:75%">
                                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(1)"></span>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(2)"></span>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(3)"></span>
                                </div>
                            </div>
                    </div>

                            <script>
                                var slideIndex = 1;
                                showDivs(slideIndex);

                                function plusDivs(n) {
                                    showDivs(slideIndex += n);
                                }

                                function currentDiv(n) {
                                    showDivs(slideIndex = n);
                                }

                                function showDivs(n) {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    var dots = document.getElementsByClassName("demo");
                                    if (n > x.length) {slideIndex = 1}
                                    if (n < 1) {slideIndex = x.length}
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    for (i = 0; i < dots.length; i++) {
                                        dots[i].className = dots[i].className.replace(" w3-cyan", "");
                                    }
                                    x[slideIndex-1].style.display = "block";
                                    dots[slideIndex-1].className += " w3-cyan";
                                }
                            </script>

                    </div>
                </div>
            </div>
        </div>

        <div class="row products">
            <div class="container">
               <p class="Title">Nos suggestions</p>
                <div class="row set_pro">
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="img/products/ipad.png" alt=""><p>
                        <div class="row ttlepro">
                            <h2>Tablette Ipad 2</h2><br><p>
                        </div>
                        <div class="row ttlepro2">
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                        </div>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="img/products/green.png" alt=""><p>
                        <div class="row ttlepro">
                            <h2>Mur vegetal en contre plaque</h2><br><p>
                        </div>
                        <div class="row ttlepro2">
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                        </div>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed" src="img/products/fruits.png" alt=""><p>
                        <div class="row ttlepro">
                            <h2>Corbeile de fruits</h2><br><p>
                        </div>
                        <div class="row ttlepro2">
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                        </div>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                    <div class="col-lg-2 pro">
                        <img class="displayed"  src="img/products/ipad.png" alt=""><p>
                        <div class="row ttlepro">
                            <h2>Nom di produit sur plusieurs lignes</h2>
                        </div>
                        <div class="row ttlepro2">
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4>
                        </div>
                        <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>