<main>
    <div class="container">

            <div class="row navig">
                <div class="col-lg-6">
                    <h2><a href="#">Accueil</a><span> > </span><a href="">Presentation</a><span> > </span>
                        <a href="">Brancher mon stand</a><span> > Electricite</span></h2>
                </div>
            </div>
            <div class="row date-cat">
                <div class="col-lg-5">
                    Palais des congres de Paris du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3 date1">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3 date2">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>

            <div class="row menus">
                <label>Electricite</label><hr>
            </div>

            <div class="row main_prod">
                <div class="col-lg-3">
                    <div class="row sidettl_prod">Votre selection</div>
                    <div class="row contextmenu">
                        <div class="row category"><p>Categories</p></div> <hr>
                        <div class="row cost"><p>Prix</p> </div><hr>
                        <div class="row vendor"><p>Vendeur</p></div>
                    </div>
                    <div class="row plan">
                        <div class="row">
                            <div class="col-lg-3"><img src="img/recycle.png" alt=""></div>
                            <div class="col-lg-9"><h3>Reallsez leplande<br>
                                de vote stand</h3></div>
                        </div>
                        <p>Les produits electriques necessitent<br>
                            que vous completiez le plan a<br>
                            transmettre lors de la commande<br>
                            pour realliser installation.</p>
                        <span>Telecharger le gabarit du plan</span>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row mainttl_prod">
                        <div class="col-lg-2"><h3><span>137 </span>Produits</h3></div>
                        <div class="col-lg-offset-5 col-lg-4">
                            <div class="col-lg-6">10 par page</div>
                            <div class="col-lg-6">Le plus cher</div>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn_cat" type="button"></button>
                            <button class="btn_cat" type="button"></button>
                        </div>
                    </div>
                    <div class="row items_prod">

                        <div class="col-lg-3 pro">
                            <hr class="hrpro1">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro1">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/pikachu.png" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="row pro_items">
                            <button class="btn_cat1"></button>
                             1 2 3 4
                            <button class="btn_cat2"></button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row foot_prod">
                <div class="col-lg-offset-4 col-lg-6">
                    <div class="row empty">
                        <img class="btnwtf" src="img/products/calc.png" alt="LUL">
                    </div>
                    <div class="row foot_prod_row">
                        <div class="col-lg-9">
                            Devis<br>
                            Aucun produit ne correspondent a votre recherche <br>
                            Un besoin sur mesure ou une demande de prestation
                        </div>
                        <div class="col-lg-3">
                         <a href="#">
                            <div class="row rowinrow">
                                Demandez<br>
                                Un devis<br>
                                >
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</main>