<main>
    <div class="container">

            <div class="row navig">
                <div class="col-lg-6">
                    <h2><a href="index.html">Accueil</a><span> > </span><a href="#">Presentation</a><span> > </span>
                        <a href="#">Brancher mon stand</a><span> > Electricite</span></h2>
                </div>
            </div>

            <div class="row date-cat">
                <div class="col-lg-5">
                    Palais des congres de Paris du 01/10/2016 au 16/11/2016
                </div>
                <div class="col-lg-offset-1 col-lg-3 date1">
                    Fermeture catalogue jj/mm/aaaa
                </div>
                <div class="col-lg-3 date2">
                    Date de majoration jj/mm/aaaa
                </div>
            </div>

            <div class="row menus">
                <label>Electricite</label><hr>
            </div>

            <div class="row main_prod">
                <div class="col-lg-3">
                    <div class="row sidettl_prod">Votre selection</div>
                    <div class="row contextmenu">

                        <ul class="ulcategor">
                            <li>
                                <div class="row">
                                    <div class="col-lg-10">Vendeur n*1</div>
                                    <div class="col-lg-2"><a href=""><img src="img/products/x.png" alt=""></a></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-10">Vendeur numero trols sur 2 deux lignes</div>
                                    <div class="col-lg-2"><a href=""><img src="img/products/x.png" alt=""></a></div>
                                </div>
                            </li>
                        </ul>

                        <div class="row"></div>

                        <div class="row category"><p>Categories</p></div>

                        <div class="row cost"><p>Prix</p> </div>

                        <div class="row vendor"><p>Vendeur</p></div>

                        <ul class="ulvendeur">
                            <li>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <input type="checkbox" class="checkClass"></div>
                                    <div class="col-lg-9">Vendeur n*1</div>
                                    <div class="col-lg-2">(<span>12</span>)</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <input type="checkbox" class="checkClass" checked></div>
                                    <div class="col-lg-9">Vendeur numero 2</div>
                                    <div class="col-lg-2">(<span>28</span>)</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <input type="checkbox" class="checkClass" checked></div>
                                    <div class="col-lg-9">Vendeur numero trois sur 2 deux lignes</div>
                                    <div class="col-lg-2">(<span>17</span>)</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <input type="checkbox" class="checkClass"></div>
                                    <div class="col-lg-9">Vendeur n*4</div>
                                    <div class="col-lg-2">(<span>53</span>)</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row plan">
                        <div class="row">
                            <div class="col-lg-3"><img src="img/products/nice.jpg" alt=""></div>
                            <div class="col-lg-9"><h3>Reallsez leplande<br>
                                de vote stand</h3></div>
                        </div>
                        <p>Les produits electriques necessitent<br>
                            que vous completiez le plan a<br>
                            transmettre lors de la commande<br>
                            pour realliser installation.</p>
                        <a href=""><span>Telecharger le gabarit du plan</span></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row mainttl_prod">
                        <div class="col-lg-2"><h3><span>137 </span>Produits</h3></div>
                        <div class="col-lg-offset-4 col-lg-4">
                            <div class="col-lg-6"><a href="" class="proOptions">10 par page</a></div>
                            <div class="col-lg-6"><a href="" class="proOptions">Le plus cher</a></div>
                        </div>
                        <div class="col-lg-2">
                            <div class="col-lg-6"><button class="btn_cat1" type="button"></button></div>
                            <div class="col-lg-6"><button class="btn_cat2" type="button"></button></div>
                        </div>
                    </div>
                    <div class="row items_prod">

                        <div class="col-lg-3 pro">
                            <hr class="hrpro1">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro1">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                        <div class="col-lg-3 pro">
                            <hr class="hrpro">
                            <img class="displayed" src="img/products/220.jpg" alt=""><p>
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>

                    </div>

                    <hr>

                    <div class="row pro_items">
                        <ul>
                            <li><button class="btn_cat1"></button></li>
                            <li class="active"><a href="">1</a></li>
                            <li class="disable"><a href="">2</a></li>
                            <li class="disable"><a href="">3</a></li>
                            <li class="disable"><a href="">4</a></li>
                            <li><button class="btn_cat2"></button></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row main_prod_pad">
                <div class="row padprod_ttl">
                    <div class="col-sm-6 padpro1">
                        <div class="row">
                            <div class="col-sm-3"><img class="padImg1" src="img/products/nice.jpg" alt="ok"></div>
                            <div class="col-sm-9"><h3>Realizes le plan de votre stand</h3>
                                <span>Telecahrger le gabarit du plan</span></div>
                        </div>
                    </div>
                    <div class="col-sm-6 padpro2">
                        <div class="row">Filtrer par</div>
                    </div>
                </div>
            </div>

            <div class="row mainpadPro">

                <div class="row">
                    <div class="row mainttl_prod">
                        <div class="col-sm-3"><h3><span>137 </span>Produits</h3></div>
                        <div class="col-sm-offset-3 col-sm-4">
                            <div class="col-sm-6"><a href="" class="proOptions">10 par page</a></div>
                            <div class="col-sm-6"><a href="" class="proOptions">Le plus cher</a></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm-6"><button class="btn_cat1" type="button"></button></div>
                            <div class="col-sm-6"><button class="btn_cat2" type="button"></button></div>
                        </div>
                    </div>
                    <div class="row items_prod">

                        <div class="row pro">
                            <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                            <div class="col-sm-5">
                                <h2>Branchment intermittent 240 V</h2>
                                <h3>en stock</h3><p>
                            </div>
                            <div class="col-sm-4">
                                <h4>A parte de <span>00,00 € NT</span></h4><p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                            </div>
                        </div>

                        <div class="row pro">
                            <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                            <div class="col-sm-5">
                                <h2>Branchment intermittent 240 V</h2>
                                <h3>en stock</h3><p>
                            </div>
                            <div class="col-sm-4">
                                <h4>A parte de <span>00,00 € NT</span></h4><p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                            </div>
                        </div>

                        <div class="row pro">
                            <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                            <div class="col-sm-5">
                                <h2>Branchment intermittent 240 V</h2>
                                <h3>en stock</h3><p>
                            </div>
                            <div class="col-sm-4">
                                <h4>A parte de <span>00,00 € NT</span></h4><p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                            </div>
                        </div>

                        <div class="row pro">
                            <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                            <div class="col-sm-5">
                                <h2>Branchment intermittent 240 V</h2>
                                <h3>en stock</h3><p>
                            </div>
                            <div class="col-sm-4">
                                <h4>A parte de <span>00,00 € NT</span></h4><p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                            </div>
                        </div>

                        <div class="row pro">
                            <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                            <div class="col-sm-5">
                                <h2>Branchment intermittent 240 V</h2>
                                <h3>en stock</h3><p>
                            </div>
                            <div class="col-sm-4">
                                <h4>A parte de <span>00,00 € NT</span></h4><p>
                                <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                            </div>
                        </div>


                    </div>

                    <hr>

                    <div class="row pro_items">
                        <ul>
                            <li><button class="btn_cat1"></button></li>
                            <li class="active"><a href="">1</a></li>
                            <li class="disable"><a href="">2</a></li>
                            <li class="disable"><a href="">3</a></li>
                            <li class="disable"><a href="">4</a></li>
                            <li><button class="btn_cat2"></button></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row foot_prod">
                <div class="col-lg-offset-4 col-lg-6 col-sm-12 smprod">
                    <div class="row empty">
                        <img class="btnwtf" src="img/products/calc.png" alt="LUL">
                    </div>
                    <div class="row foot_prod_row">
                        <div class="col-lg-9 col-sm-9">
                            Devis<br>
                            Aucun produit ne correspondent a votre recherche <br>
                            Un besoin sur mesure ou une demande de prestation
                        </div>
                        <div class="col-lg-3 col-sm-3">
                         <a href="#">
                            <div class="row rowinrow">
                                Demandez<br>
                                Un devis<br>
                                <img src="img/products/nextwhite.png" alt="">
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</main>

<div class="main_mob">
    <div class="container">

        <div class="row date-cat">
            <div class="col-lg-5 col-xs-12 col-sm-12">
                Palais des congres de Paris du 01/10/2016 au 16/11/2016
            </div>
            <div class="col-lg-offset-1 col-lg-3 date1 col-xs-12 col-sm-6">
                Fermeture catalogue jj/mm/aaaa
            </div>
            <div class="col-lg-3 date2 col-xs-12 col-sm-6">
                Date de majoration jj/mm/aaaa
            </div>
        </div>

        <div class="row menus">
            <label>Electricite</label><hr>
        </div>

        <div class="row main_prod_pad">
            <div class="row padprod_ttl">
                <div class="col-sm-6 col-xs-12 padpro1">
                    <div class="row">
                        <div class="col-sm-3"><img class="padImg1" src="img/products/nice.jpg" alt="ok"></div>
                        <div class="col-sm-9"><h3>Realizes le plan de votre stand</h3>
                            <span>Telecahrger le gabarit du plan</span></div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6 col-xs-12 padpro2">
                    <div class="row">Filtrer par</div>
                </div>
            </div>
        </div>

        <div class="row mainpadPro">

            <div class="row">

                <div class="row mainttl_prod">
                    <div class="col-sm-3 col-xs-12"><h3><span>137 </span>Produits</h3></div>
                    <div class="col-sm-offset-3 col-sm-4 col-xs-12">
                        <div class="col-sm-6 col-xs-6"><a href="" class="proOptions">10 par page</a></div>
                        <div class="col-sm-6 col-xs-6"><a href="" class="proOptions">Le plus cher</a></div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="col-sm-6 col-xs-6"><button class="btn_cat1" type="button"></button></div>
                        <div class="col-sm-6 col-xs-6"><button class="btn_cat2" type="button"></button></div>
                    </div>
                </div>

                <div class="row items_prod">

                    <div class="row pro">
                        <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                        <div class="col-sm-5">
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                        </div>
                        <div class="col-sm-4">
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>

                    <div class="row pro">
                        <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                        <div class="col-sm-5">
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                        </div>
                        <div class="col-sm-4">
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>

                    <div class="row pro">
                        <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                        <div class="col-sm-5">
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                        </div>
                        <div class="col-sm-4">
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>

                    <div class="row pro">
                        <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                        <div class="col-sm-5">
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                        </div>
                        <div class="col-sm-4">
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>

                    <div class="row pro">
                        <div class="col-sm-3"><img class="displayed" src="img/products/220.jpg" alt=""></div>
                        <div class="col-sm-5">
                            <h2>Branchment intermittent 240 V</h2>
                            <h3>en stock</h3><p>
                        </div>
                        <div class="col-sm-4">
                            <h4>A parte de <span>00,00 € NT</span></h4><p>
                            <button class="displayed" type="button"><h5>Voir le produit</h5></button>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="row pro_items">
                    <ul>
                        <li><button class="btn_cat1"></button></li>
                        <li class="active"><a href="">1</a></li>
                        <li class="disable"><a href="">2</a></li>
                        <li class="disable"><a href="">3</a></li>
                        <li class="disable"><a href="">4</a></li>
                        <li><button class="btn_cat2"></button></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row foot_prod">
            <div class="col-lg-offset-4 col-lg-6 col-sm-12 smprod">
                <div class="row empty">
                    <img class="btnwtf" src="img/products/calc.png" alt="LUL">
                </div>
                <div class="row foot_prod_row">
                    <div class="col-lg-9 col-sm-9 col-xs-12">
                        Devis<br>
                        Aucun produit ne correspondent a votre recherche <br>
                        Un besoin sur mesure ou une demande de prestation
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <a href="#">
                            <div class="row rowinrow">
                                Demandez<br>
                                Un devis<br>
                                <img src="img/products/nextwhite.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>