<nav>
    <div class="container">
        <div class="row navigation">
            <div class="col-lg-9">
                <ul id="menu" class="list-inline">
                    <li><a href="#">Presentation</a></li>
                    <li><a href="#">Acceder<br> au site</a></li>
                    <li><a href="#">Brancher<br> mon stand</a></li>
                    <li><a href="#">Amenager<br> mon stand</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Autour de ma<br> manifestation</a></li>
                </ul>
            </div>
            <div class="col-lg-3 search">
                <input type="submit" value=" ">
                <input type="search" placeholder="Recherche">
            </div>
        </div>
    </div>
</nav>