<nav>
    <div class="container">
        <div class="row navigation">
            <div class="col-lg-9">
                <ul class="menu">
                    <li><a href="#">Presentation</a>
                        <ul class="menu-drop">
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href="recycle.html"><p>Votre panner </p></a>
                                    <li>Branchment intermittent</li>
                                    <li>Branchment permanent</li>
                                    <li>Augmenlation de puissance intermillent</li>
                                    <li>Augmenlation de puissance permanente</li>
                                    <li>Materiel complementaire</li>
                                </div>
                                <div class="col-lg-3">
                                    <p>Air compime1</p>
                                    <li>Branchment et raccerdement</li>
                                </div>
                                <div class="col-lg-4">
                                    <p>EAU1</p>
                                    <li>Branchment et raccordement</li>
                                    <li>Ecuipements complementaires</li>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="#">Acceder<br> au site</a>
                        <ul class="menu-drop">
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href=""><p>Electrecite2 </p></a>
                                    <li>Branchment intermittent</li>
                                    <li>Branchment permanent</li>
                                    <li>Augmenlation de puissance intermillent</li>
                                    <li>Augmenlation de puissance permanente</li>
                                    <li>Materiel complementaire</li>
                                </div>
                                <div class="col-lg-3">
                                    <p>Air compime2</p>
                                    <li>Branchment et raccerdement</li>
                                </div>
                                <div class="col-lg-4">
                                    <p>EAU2</p>
                                    <li>Branchment et raccordement</li>
                                    <li>Ecuipements complementaires</li>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="#">Brancher<br> mon stand</a>
                        <ul class="menu-drop">
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href="products.html"><p>Electrecite</p></a>
                                    <li>Branchment intermittent</li>
                                    <li>Branchment permanent</li>
                                    <li>Augmenlation de puissance intermillent</li>
                                    <li>Augmenlation de puissance permanente</li>
                                    <li>Materiel complementaire</li>
                                </div>
                                <div class="col-lg-3">
                                    <p>Air compime</p>
                                    <li>Branchment et raccerdement</li>
                                </div>
                                <div class="col-lg-4">
                                    <p>EAU</p>
                                    <li>Branchment et raccordement</li>
                                    <li>Ecuipements complementaires</li>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="#">Amenager<br> mon stand</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Autour de ma<br> manifestation</a></li>
                </ul>
            </div>
            <div class="col-lg-3 search">
                <input type="submit" value=" ">
                <input type="search" placeholder="Recherche">
            </div>
        </div>
    </div>
</nav>