<footer>
    <div class="container">
        <div class="row faq">
            <div class="col-lg-offset-2 col-lg-2">
                <h2>Besoin d'aide?</h2>
            </div>
            <div class="col-lg-1 foot1">
                <a href="#">FAQ</a>
            </div>
            <div class="col-lg-1 foot2">
                <a href="#">Tchat</a>
            </div>
            <div class="col-lg-2 foot3">
                <a href="#">Appeler</a>
            </div>
            <div class="col-lg-1 foot4">
                <a href="#">Contact</a>
            </div>
        </div>

        <div class="row info">
            <div class="col-lg-6 info_1">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Premier salon</h2><p>
                        <hr><p>
                        <h4>Les infromation cles</h4>
                    </div>
                    <div class="col-lg-6">
                        <h2>Liste d'archats</h2><p>
                        <hr><p>
                        <h4>Rezerves avant<p>
                        de commander</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Service exposants</h2><p>
                        <hr><p>
                        <h4>Les conseils<p>
                        de nos experts</h4>
                    </div>
                    <div class="col-lg-6">
                        <h2>Devenir prestataire</h2><p>
                        <hr><p>
                        <h4>Donnez de la visibilite<p>
                        a vos produits</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 info_2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <h3>Lettre d'information</h3><p>
                            <h4>Etre alerte des advantages & nouveautes</h4><p>
                            <div class="adress">
                                <input type="text" placeholder="Votre adresse mail">
                                <input type="submit" value="OK">
                            </div>
                        </div>
                        <div class="row social">
                            <h3>Viparis social</h3>
                            <h4>Restez connecter sur les reseaux sociaux</h4><p>
                            <ul class="list-inline">
                                <li><a href="#"><img src="img/faceb.png" alt="facebook"></a></li>
                                <li><a href="#"><img src="img/twit.png" alt="twitter"></a></li>
                                <li><a href="#"><img src="img/yout.png" alt="youtube"></a></li>
                                <li><a href="#"><img src="img/in.png" alt="in"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 group">
                        <div class="row group1">
                            <h3>Sites de groupe</h3><p>
                            <h4>Decouvrez notre groupe</h4><p>
                        </div>
                        <div class="row group2">
                            <h4><a href="viparis.com">viparis.com</a></h4><p>
                            <h4><a href="venuesinparis.com">venuesinparis.com</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row copy">
            <hr>
            <div class="col-lg-2">
                <h4>&copy; Viparis 2016</h4>
            </div>
            <div class="col-lg-offset-3 col-lg-7">
                <ul class="list-inline">
                    <li><a href="#">CGS</a></li>
                    <li><a href="#">CGV.CHU</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Credits & mentions legales</a></li>
                    <li><a href="#">A propos de Viparis</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>