<header>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-xs-8 logo">
                <a href=""><img src="img/logo.png" alt="Logotype"></a>
            </div>

            <div class="col-lg-offset-5 col-lg-2 login">
                <ul class="row">
                    <li class="col-lg-6 colon">
                        <a href="#" class="account">Mon compte</a>
                    </li>
                    <li class="col-lg-6 colon">
                        <a href="#" class="like">Liste d'achats</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-1 lang">
                <div class="row flags">
                    <a href="#" col-lg-6><img src="img/fra.png" alt="Fra"></a>
                    <a href="#" col-lg-6><img src="img/uk.png" alt="Eng"></a>
                </div>
            </div>

            <div class="col-lg-1 col-xs-2 rec">
                <a href="recycle.html">
                    <img src="img/recycle.png" alt="Recycle">
                    <label class="count">10</label>
                </a>
                    <div class="show">

                        <div class="row toprec">
                            <div class="col-lg-6">TOTAL</div>
                            <div class="col-lg-6" text-align="right">3459,00 <span>Є</span></div>
                            <button>Commander</button>
                        </div>

                        <div class="row vendari">
                            <div class="row vendd">
                                <div class="row venddttl">Vendeur1</div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">IPAD2</div>
                                    <div class="col-lg-6">
                                        <button class="pm" onclick="plus1()">+</button>
                                        <input id="count1" class="dgt" type="text" value="10">
                                        <button class="pm" onclick="minus1()">-</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/like.png" alt=""></a>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/rec.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6"><span>3333 Є NT</span></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row vendd">
                                <div class="row venddttl">Vendeur2</div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">IPAD2</div>
                                    <div class="col-lg-6">
                                        <button class="pm" onclick="plus2()">+</button>
                                        <input id="count2" class="dgt" type="text" value="10">
                                        <button class="pm" onclick="minus2()">-</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/like.png" alt=""></a>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/rec.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6"><span>3333 Є NT</span></div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">IPAD2</div>
                                    <div class="col-lg-6">
                                        <button class="pm" onclick="plus3()">+</button>
                                        <input id="count3" class="dgt" type="text" value="10">
                                        <button class="pm" onclick="minus3()">-</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/like.png" alt=""></a>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""><img src="img/rec/rec.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6"><span>3333 Є NT </span></div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="row footrec">
                            <button>Vore le more</button>
                        </div>

                    </div>




            </div>

            <div class="col-xs-2 menuMob">
                <a href="">
                    <img src="" alt="IMAGE">
                </a>
            </div>

        </div>
    </div>
</header>