<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 logo">
                <a href=""><img src="img/logo.png" alt="Logotype"></a>
            </div>
            <div class="col-lg-offset-4 col-lg-4 login">
                <ul class="row">
                    <li class="col-lg-6">
                        <img src="img/acc.png" alt="acc">
                        <a href="#" class="account">Mon compte</a>
                    </li>
                    <li class="col-lg-6">
                        <img src="img/like.png" alt="like">
                        <a href="#" class="like">Liste d'achats</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 lang">
                <a href="#" col-lg-6><img src="img/fra.png" alt="Fra"></a>
                <a href="#" col-lg-6><img src="img/uk.png" alt="Eng"></a>
            </div>
            <div class="col-lg-1 rec">
                <a href="">
                    <img src="img/recycle.png" alt="Recycle">
                    <label class="count">10</label>
                </a>
            </div>
        </div>
    </div>
</header>